@{
  Layout = "_Layout";
}

@model HairSalon.Models.Stylist

<h3>@ViewBag.PageTitle</h4>

  @using (Html.BeginForm())
  {
    <p>
      Stylist Name<span class="required-field-style-red">*</span>
      <br />
      @Html.TextBoxFor(model => model.StylistName, new {@required = "required"})
    </p>
    <p>
      Stylist Details
      <br />
      @Html.TextBoxFor(model => model.StylistDetails)
    </p>
    <br />
    <input type="submit" value="Add Stylist" />
  }

<div class="allPageNav">
  <br /><br />
  <button>@Html.ActionLink("Back to All Stylists", "Index")</button>
  <button>@Html.ActionLink("Home", "Index", "Home")</button>
</div>