@{
  Layout = "_Layout";
}

@model HairSalon.Models.Stylist
@using HairSalon.Models;

<h3>@ViewBag.PageTitle</h3>
<hr />

<div class="stylistDetailsPage">
  <p><strong>Name:</strong> @Model.StylistName</p>
  <p><strong>Details:</strong>
    @if (@Model.StylistDetails != null)
    {
      <span>@Model.StylistDetails</span>
    }
    else
    {
      <span>No details for this stylist. Use the "Edit Stylist" button to add details.</span>
    }
  </p>
  <p><strong>Clients:</strong>
    @if (@Model.Clients.Count == 0)
    {
    <span> This stylist hasn't been assigned any clients yet. @Html.ActionLink($"Add one now!", "Create", "Clients")</span>

    }
    else
    {
    <span>
    <div class="stylistDetailsPageClientList">
        @foreach (Client client in Model.Clients)
        {
        <div class="stylistDetailsPageClientListItem">
          <p>@Html.ActionLink($"{client.ClientName}", "Details", "Clients", new { id = client.ClientId })</p>
        </div>
        }
    </div>
    </span>
    }
  </p>
</div>

<div class="allPageNav">
  <br /><br />
  <button>@Html.ActionLink("Edit Stylist", "Edit", new { id = Model.StylistId })</button>
  <button>@Html.ActionLink("Delete Stylist", "Delete", new { id = Model.StylistId })</button>
  <br />
  <button>@Html.ActionLink("Back to All Stylists", "Index")</button>
</div>