@model HairSalon.Models.Client

<h3>@ViewBag.PageTitle</h3>

  @using (Html.BeginForm())
  {
    <p>
      Client Name<span class="required-field-style-red">*</span>
      <br />
      @Html.TextBoxFor(model => model.ClientName, new {@required = "required"})
    </p>
    <p>
      Client Details
      <br />
      @Html.TextBoxFor(model => model.ClientDetails)
    </p>
    <p>
      Stylist<span class="required-field-style-red">*</span><br />
      @if (ViewBag.ErrorMessage == "noStylists")
      {
        <span class="required-field-style-red">Client must have a stylist. You can <span>@Html.ActionLink("create one here", "Create", "Stylists")</span>.</span>
      }
      <br />
      @Html.DropDownList("StylistId")
    </p>
    <br />
    <input type="submit" value="Add Client" />
  }

<div class="allPageNav">
  <br /><br />
  <button>@Html.ActionLink("Back to All Clients", "Index")</button>
</div>